.about-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.about-card {
    background: transparent;
}

.about-card-body {
    font-weight: bolder;
    color: white;
}

.about-right-card-title {
    text-align: right;
    cursor: default;

}

.about-right-card-text {
    text-align: right;
    font-size: 14.5px;
    cursor: default;
}

.card-img-top {
    height: 45vh;
    border-radius: 15px;
}





@media only screen and (min-width: 481px) and (max-width: 820px) {
    .about-right-container {
        height: 100vh;
        display: unset;
        padding: unset;
    }

    .about-card {
        height: 70vh;
    }
}


@media only screen and (min-width: 320px) and (max-width: 480px) {

    .about-right-container {
        height: 125vh;
        display: unset;
        padding: unset;
    }
}