.adminMenu-row1 {
    height: 10vh;
}

.adminMenu-btn-container {
    justify-content: flex-start;
}

.adminMenu-btn {
    height: 70%;
    width: 15%;
}

.adminMenu-row2 {
    height: 73vh;
    overflow-y: scroll;
}

.adminMenu-row2::-webkit-scrollbar {
    display: none;
}