.adminDashboard-row1 {
    height: 83vh;
    background-color: rgb(224 221 221);
}

.adminDashboard-row1::-webkit-scrollbar {
    display: none;
}

.adminDashboard-row2 {
    height: 23vh;
}

.adminDashboard-row3 {
    height: 30vh;
}

.adminDashboard-row4 {
    height: 30vh;
}

.adminDashboard-cards {
    background-color: white;
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    padding: 10px;
}

.card-title-small {
    font-size: 0.7rem;
    margin-top: 5px;
}

.adminDashboard-cards-text {
    font-size: 1.2rem;
    margin-top: 10px;
    color: black;
    text-align: center;
}

.row.adminDashboard-row2 {
    display: flex;
    justify-content: space-around;
}

.image-container {
    margin: 10px;
}

.react-calendar__navigation {
    display: flex;
    height: 0px;
    margin-bottom: 1em;
}