#menu-toggle {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1000;
    color: white;
    background-color: black;
}

#wrapper.toggled #sidebar {
    margin-left: -250px;
    transition: margin-left 0.5s ease-in-out;
}

#wrapper #sidebar {
    margin-left: 0;
    transition: margin-left 0.5s ease-in-out;
}

.side-bar-list {
    padding: 0px 10px;
    margin: 10px 0px;
    border-radius: 5px;
    width: 75%;
}



.adminSidebar-icons {
    margin: 0px 15px;
}

.hamburger-container {
    position: fixed;
    top: 8%;
    left: 0px;
    z-index: 1000;
}

.admin-side-bar {
    background-color: white;
    height: 90vh;
    width: 16vw;
    padding: 0px 0px;
    border-radius: 0;
    transition: margin-left 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#wrapper.toggled #sidebar {
    margin-left: -250px;
}

#wrapper #sidebar {
    margin-left: 0;
    transition: margin-left 0.5s ease-in-out;
}