.checkout-bill-box {
    position: fixed;
    top: 44%;
    left: 60%;
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
}

.checkout-bill-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
}

.checkout-bill-amount {
    font-size: 18px;
    color: white;
}




@media only screen and (min-width: 481px) and (max-width: 820px) {}


@media only screen and (min-width: 320px) and (max-width: 480px) {}