.invalid-credentials-alert {
    position: absolute;
    top: 55%;
    left: 49%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 500px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}




@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .invalid-credentials-alert {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        width: 95%;
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    .invalid-credentials-alert {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        width: 95%;
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }

}