.navbar-row1 {
    height: 10vh;
}

.navbar {
    background-color: black;
    z-index: 1;
    position: fixed;
}

.logo {
    height: 40px;
}

.nav-item .nav-link {
    color: white;
}

.shopping-cart {
    color: white;
    font-size: 20px;
    margin: 5px 15px;
}

.cart-badge {
    width: 20px;
    height: 20px;
    font-size: 11px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-link {
    display: none;
}


.black-navbar {
    background-color: black;
}

.white-navbar {
    background-color: white;
}

.white-navbar .nav-link {
    color: black;
}

.white-navbar .admin-link {
    color: black;
}

.white-navbar .shopping-cart {
    color: black;
}

.dropdown-toggle-admin::after {
    display: inline-block;
    margin-left: 1.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}



.dropdown-menu-user[data-bs-popper] {
    top: 100%;
    left: 88%;
    margin-top: var(--bs-dropdown-spacer);
    width: 11%;
}


.dropdown-menu-user a {
    color: black;
}

.dropdown-menu-user a:hover {
    background-color: #333;
}


.white-navbar .dropdown-menu,
.white-navbar .dropdown-menu-admin {
    background-color: black;
    color: white;
}

.white-navbar .dropdown-menu a,
.white-navbar .dropdown-menu-admin a {
    color: white;
}

.white-navbar .dropdown-menu a:hover,
.white-navbar .dropdown-menu-admin a:hover {
    background-color: #dad2d2;
}

.black-navbar .dropdown-menu,
.black-navbar .dropdown-menu-admin {
    background-color: white;
    color: black;
}

.black-navbar .dropdown-menu a,
.black-navbar .dropdown-menu-admin a {
    color: black;
}

.black-navbar .dropdown-menu a:hover,
.black-navbar .dropdown-menu-admin a:hover {
    background-color: #dad2d2;
}


.admin-link {
    display: none;
}


@media only screen and (min-width: 481px) and (max-width: 820px) {
    .navbar-row1 {
        height: 0vh;
    }

    .d-flex {
        display: flex !important;
        margin-bottom: 20px;
    }
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    .d-flex {
        display: flex !important;
        margin-bottom: 20px;
    }
}